<template>
  <b-alert
    v-html="msg"
    :show="show" 
    :variant="variant" 
    fade
    @dismissed="onDismissed()" />
</template>
<script>
export default {
  name: 'alert',
  props: ["msg", "variant"],
  methods: {
    onDismissed() {
      this.$store.state.alert.show = 0
    }
  },
  computed: {
    show() {
      return this.$store.state.alert.show
    }
  }
};
</script>
<style lang="scss">
</style>
