<template>
  <div id="cart" class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Cart</h2>
        <div class="cart-box">
          <p v-if="cartItems.length === 0" class="empty-cart-info">Your cart is empty.</p>
          <div v-for="item in cartItems" :key="item.id" class="row with-sep">
            <div class="col-md-3 image">
              <img :src="item.image" alt="">
            </div>
            <div class="col-md-4 item-name">{{ item.name }}</div>
            <div class="col-md-2 item-amount">
              <div class="amount-buttons d-flex align-items-center">
                <i 
                    class="fas fa-minus" 
                    @click="decreaseItemAmount(item.id)"></i>
                <input 
                    type="text"
                    :value="inCartAmount(item.id).amountInCart">
                <i
                    class="fas fa-plus"
                    @click="increaseItemAmount(item.id)"></i>
              </div>
            </div>
            <div class="col-md-2 item-price">$
              <span>{{ item.price * item.amountInCart }}</span>
            </div>
            <div class="col-md-1 text-center">
              <i class="fas fa-times" @click="deleteCartItem(item)"/>
            </div>
          </div>
          <div 
            v-if="cartItems.length > 0"
            class="row summary">
            <div class="col-md-3 offset-8 text-center price">
              Total price:
              <span class="price-value">${{totalPrice}}</span>
            </div>
            <div 
                class="col-md-1 text-center"
                @click="toOrderItems()">
              <button class="large default">Buy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ItemService from "@/services/ItemService"

export default {
  data() {
    return {
        amountValue: 0
    }
  },
  methods: {
    deleteCartItem(item) {
      this.$store.commit("deleteCartItem", item)
      localStorage.removeItem("items")
      localStorage.setItem(
        "items",
        JSON.stringify(this.$store.state.cartItems)
      )
      localStorage.removeItem("cartAmount")
      localStorage.setItem(
        "cartAmount",
        JSON.stringify(this.$store.state.cartAmount)
      )
    },
    inCartAmount(itemId) {
        return this.$store.state.cartItems.find((el) => {
            return el.id === itemId
        })
    },
    increaseItemAmount(itemId) {
      this.$store.commit('increaseItemAmount', itemId)
    },
    decreaseItemAmount(itemId) {
      this.$store.commit('decreaseItemAmount', itemId)
    },
    async toOrderItems() {
      await ItemService.toOrderItems(this.$store.state.cartItems, this.$store.state.user)
    }
  },
  computed: {
    cartItems() {
      return this.$store.state.cartItems
    },
    cartItemsAmount() {
      return this.$store.state.cartAmount
    },
    totalPrice() {
        return this.$store.state.totalPrice
    }
  }
};
</script>
<style lang="scss" scoped>
.cart-box {
  background: #fff;
  box-shadow: $shadow-1;
  border-radius: $border-radius;
  padding: 2rem;
  font: {
    size: 1rem;
  }
  > .row {
    padding: 2rem 0;
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e1e7ec;

    &.summary {
      border-bottom: none;
    }
  }
  .image {
    text-align: center;
  }
  img {
    width: 20%;
  }
  input {
    background: #e1e7ec;
  }
  i {
    cursor: pointer;
  }
  .item-name {
    font: {
      weight: 700;
    }
  }
  .item-price {
    span {
      font: {
        weight: 700;
      }
    }
  }
  .summary {
    .price {
      padding: 1rem;
      color: #5f6b79;

      font: {
        size: 0.9rem;
      }
      &-value {
        color: #222;
        margin-left: 0.4rem;
        font: {
          weight: 700;
          size: 1.4rem;
        }
      }
    }
  }
}
</style>
