<template>
  <b-modal
    id="registerModal"
    class="register-modal box-modal"
    ref="registerModal"
    centered
    size="md"
    hide-header
    hide-footer>
    <form @submit.prevent="userLogin()">
      <div class="row modal-header">
        <div class="col-md-12">Register</div>
      </div>
      <div class="user-forms">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <form>
                  <input type="text" placeholder="fullname" v-model="user.fullname">
                  <input type="text" placeholder="username" v-model="user.username">
                  <input type="text" placeholder="email" v-model="user.email">
                  <input type="password" placeholder="password" v-model="user.password">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row modal-footer">
        <button type="submit" class="button large primary">Register</button>
      </div>
    </form>
  </b-modal>
</template>
<script>
import UserService from "@/services/UserService";
export default {
  name: "registerModal",
  beforeRouteEnter(to, from, next) {
    if (!localStorage.getItem("user_token")) {
      next();
    } else {
      next(from);
    }
  },
  data() {
    return {
      user: {
        fullname: "",
        username: "",
        email: "",
        password: ""
      }
    };
  },
  methods: {
    async registerUser() {
      const response = await UserService.registerUser(this.user);
      if (response.data.success) {
        this.$store.commit("setUser", {
          username: this.user.username,
          id: this.user.id
        });
        this.$store.commit("showAlert", {
          message: response.data.msg,
          variant: "success"
        });
        this.$router.push("/");
      } else {
        this.$store.commit("showAlert", {
          message: response.data.msg,
          variant: "danger"
        });
      }
    }
  },
  computed: {
    alert() {
      return {
        message: this.$store.state.alert.message,
        variant: this.$store.state.alert.variant
      };
    }
  }
};
</script>
<style lang="scss">
</style>
