$c-primary: #2368a2;
$c-secondary: #65a3d6;
$c-grey-dark: #212934; 
$c-border: #cfd6de;
$text-blue-dark: #213d53;
$text-grey-light: #8895a6;
$bg-blue-light: #eff8ff;

$shadow-1: 0px 2px 4px rgba(155, 122, 122, 0.2);
$border-radius: 5px;

.bold {
    font: {
        weight: 700;
    }
}

.row { position: relative;
    .alert { position: absolute; left: 100%; top: 0;  }
}

.alert { font: { size: .8rem; } width: 20rem; padding: 1rem; 
    &-success { background: #aaeec2; color: #1f7743; border: 2px solid #78d9a1; }
    &-danger { background: #f3a9ab; color: #87181e; border: 2px solid #e26266; }
}

button { border-radius: $border-radius; border: none; outline: none; cursor: pointer; outline: none;
    &.default { border: 2px solid $c-secondary; background: none; color: $c-secondary; }
    &.large { padding: .6rem 1.2rem; font: { size: .9rem; weight: 700; } }
}

.box-modal {
    .modal-body { padding: 0; }
    .modal-footer { margin: 0; text-align: right; }
    .modal-header { margin: 0; text-align: left; font: { size: 1rem; weight: 700; } color: $c-grey-dark; }
}

.checkbox { display: inline-block;
    label { display: inline-block; }
}

.row {
  &.with-sep { 
    border-bottom: 2px solid #cfd6de; 
    padding-bottom: 2rem;
  }
}

h2 {
  margin-top: 4rem;
  margin-bottom: 4rem;
  position: relative;

  &:after {
      content: '';
      display: block;
      position: absolute;
      width: 5rem;
      height: 4px;
      background: $c-primary;
      top: 140%;
      left: 0;
  }
} 

//

.empty-list { 
  font: {
    size: 1rem;
  }
  padding: 0 1rem;
  color: #8895a6;
  text-align: right;
}

//forms

input,
  textarea {
    border-radius: $border-radius;
    font: {
      size: 0.8rem;
      weight: 700;
    }
    padding: 0.6rem;
    width: 100%;
    border: none;
    outline: none;
    color: #8895a7;
  }
  textarea {
    resize: none;
  }
  label {
    font: {
      size: 0.8rem;
      weight: 700;
    }
    color: #5f6b7a;
    &.add-image {
      background: #fff;
      width: 9.5rem;
      height: 9.5rem;
      position: relative;
      cursor: pointer;
      display: block;
      border-radius: $border-radius;
      text-align: center;
      input {
        visibility: hidden;
      }
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #e1e7ec;
        font: {
          size: 2rem;
        }
      }
      .preview-img {
        height: 100%;
      }
    }
    &.checkbox {
      background: #fff;
      border-radius: $border-radius;
      margin-right: .6rem;
      padding: .6rem 1rem;
      position: relative;
      min-width: 6rem;
      text-align: center;
      cursor: pointer;
      input {
        visibility: hidden;
        position: absolute;
        top: 100%;
      }
      i {
        display: none;
      }
      &.checked {
        background: #eff8ff;
        box-shadow: 0 0 0 2px #abd5f4;
        color: #65a3d6;
        i { 
          display: inline-block;
          font: {
            weight: 700;
          }
        }
      }
    }
  }

  .amount-buttons {
    input {
      width: 4rem;
      text-align: center;
      margin: 0 1rem;
    }
  }

//items 
.product-item {
    background: #eff8ff;
    margin-bottom: 30px;
    padding-top: 1rem;
    box-shadow: $shadow-1;
    border-radius: $border-radius;
    .product-preview {
      display: flex;
      justify-content: left;
      align-items: center;
      padding: 1rem;
    }
    .product-image {
      width: 12rem;
      height: 6rem;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .product-name {
      font: {
        size: 1rem;
        weight: 700;
      }
      margin-left: 2rem;
      color: $text-blue-dark;
    }
    .product-desc {
      font: {
        size: 0.8rem;
      }
      color: $text-grey-light;
      margin: 0;
      padding-right: 1rem;
      margin-left: 2rem;
      text-align: justify;
    }
    .product-details {
      background: #fff;
      padding: 1.2rem 1rem;
      text-align: right;
      color: $text-grey-light;
      span {
        font: {
          size: .8rem;
        }
        color: $text-grey-light;
      }
    }
    .product-author {
      font: {
        size: .8rem;
      }
      text-align: right;
      padding: 0 1rem;
      margin: 0;
      color: $text-grey-light;
      span {
        font: {
          weight: 700;
        }
        color: $text-blue-dark;
      }
    }
    .product-price {
      font: {
        size: 1.6rem;
        weight: 600;
      }
      margin: 0 0 0 2rem;
      padding: 2rem 0;
      color: $text-blue-dark;
    }
    .buy-product-button {
      text-transform: uppercase;
      outline: none;
      transition-duration: .4s;
      &:active {
        background: $c-secondary;
        color: #fff;
      }
    }
  }