<template>
  <ModalTemplate :modalName="'addItemModal'" :modalSize="'lg'" :modalTitle="'Add item to store'">
    <template slot="modalBody">
      <div class="row item-details">
        <div class="col-md-3 text-center">
          <img 
            :src="item.image" 
            alt="" 
            class="item-image">
        </div>
        <div class="col-md-9">
          <p>{{ item.description }}</p>
        </div>
      </div>
      <div class="row item-params-area">
        <div class="col-md-2">
          <div class="item-params">
            <span class="label">Price</span>
            <span class="value">{{ item.price }}$</span>
          </div>
        </div>
        <div class="col-md-2">
          <div class="item-params">
            <span class="label">Added by</span>
            <span class="value">{{ item.author }}</span>
          </div>
        </div>
      </div>
    </template>
    <template slot="modalFooter">
      <button
        v-if="!isInCart(item)"
        type="button"
        class="large primary"
        @click="addToCart(item)">Add to cart</button>
      <span 
        v-if="isInCart(item)" 
        class="">Already in cart</span>
    </template>
  </ModalTemplate>
</template>
<script>
import ItemService from "@/services/ItemService"
export default {
  data() {
    return {
      item: {
        title: "",
        description: "",
        price: 1,
        categories: [1],
        author: ""
      },
      categories: [],
      imagePreviewSrc: ''
    }
  },  
  methods: {
    async addItem() {

      let fd = new FormData()
      fd.append('title', this.item.title)
      fd.append('description', this.item.description)
      fd.append('price', this.item.price)
      fd.append('categories', this.item.categories)
      fd.append('author', this.$store.state.user.username),
      fd.append('author_id', this.$store.state.user.id),
      fd.append('product-image', document.querySelector('#product-image').files[0])
      
      const response = await ItemService.addItem(fd)

      if (response.data.success) {
        this.$store.commit("showAlert", {
          message: response.data.msg,
          variant: "success"
        });
      } else {
        this.$store.commit("showAlert", {
          message: response.data.msg,
          variant: "danger"
        });
      }
      
      this.$refs.addItemModal.hide()
    },
    async getCategories() {
      const response = await ItemService.getCategories()
      this.categories = response.data
    },
    loadPreview(input) {
      if (input.target.files && input.target.files[0]) {
        let reader = new FileReader()
        reader.onload = function(e) {
          document.querySelector('.preview-img').src = e.target.result
        }
        reader.readAsDataURL(input.target.files[0])
      }
    }
  },
  created() {
    this.getCategories()
  }
};
</script>
<style lang="scss" scoped>
  .add-item-form {
    background: #e1e7ec;
    text-align: left;
    padding: 2rem;
  
    .row:not(:first-child) {
      margin-top: 1.6rem;
    }
}
</style>
