<template>
  <ModalTemplate :modalName="'addItemModal'" :modalSize="'lg'" :modalTitle="'Add item to store'">
    <template slot="modalBody">
      <div class="row add-item-form">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <label>Title:</label>
                <input v-model="item.title" type="text">
                <label>Description:</label>
                <textarea v-model="item.description"/>
              </div>
              <div class="col-md-6">
                <label for="add-image">Image:</label>
                <label class="add-image">
                  <img src alt class="preview-img">
                  <input type="file" id="product-image" @change="loadPreview($event)">
                  <i class="fas fa-plus"></i>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label>Price:</label>
              <input v-model="item.price" type="number">
            </div>
            <div class="col-md-10">
              <label>Categories:</label>
              <br>
              <label
                v-for="(category, $index) in categories"
                v-show="$index !== 0"
                :key="category.id"
                :class="{ 'checked': item.categories.indexOf(category.id) > -1 }"
                class="checkbox"
              >
                <input
                  v-model="item.categories"
                  :value="category.id"
                  :id="category.id"
                  type="checkbox"
                >
                <span>
                  <i class="far fa-check-circle"></i>
                  {{ category.fullname }}
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </template>
    <template slot="modalFooter">
      <button type="button" class="large primary" @click="addItem()">Add item</button>
    </template>
  </ModalTemplate>
</template>
<script>
import ItemService from "@/services/ItemService";
import ModalTemplate from "./ModalTemplate";

export default {
  components: { ModalTemplate },
  data() {
    return {
      item: {
        title: "",
        description: "",
        price: 1,
        categories: [1],
        author: ""
      },
      categories: [],
      imagePreviewSrc: ""
    };
  },
  methods: {
    async addItem() {
      let fd = new FormData();
      fd.append("title", this.item.title);
      fd.append("description", this.item.description);
      fd.append("price", this.item.price);
      fd.append("categories", this.item.categories);
      fd.append("author", this.$store.state.user.username),
        fd.append("author_id", this.$store.state.user.id),
        fd.append(
          "product-image",
          document.querySelector("#product-image").files[0]
        );

      const response = await ItemService.addItem(fd);

      if (response.data.success) {
        this.$store.commit("showAlert", {
          message: response.data.msg,
          variant: "success"
        });
      } else {
        this.$store.commit("showAlert", {
          message: response.data.msg,
          variant: "danger"
        });
      }

      this.$refs.addItemModal.hide();
    },
    async getCategories() {
      const response = await ItemService.getCategories();
      this.categories = response.data;
    },
    loadPreview(input) {
      if (input.target.files && input.target.files[0]) {
        let reader = new FileReader();
        reader.onload = function(e) {
          document.querySelector(".preview-img").src = e.target.result;
        };
        reader.readAsDataURL(input.target.files[0]);
      }
    }
  },
  created() {
    this.getCategories();
  }
};
</script>
<style lang="scss" scoped>
.add-item-form {
  background: #e1e7ec;
  text-align: left;
  padding: 2rem;

  .row:not(:first-child) {
    margin-top: 1.6rem;
  }
}
</style>
