<template>
  <div class="app-modal" v-show="value">
    <slot name="modal-header"></slot>
    <slot name="modal-content">dsadsadsad</slot>
    <slot name="modal-footer"></slot>
  </div>
</template>
<script>
export default {
  props: {
    value: Boolean
  }, 
  data() {
    return {}
  }
};
</script>
<style lang="scss" scoped>
  .app-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 1px solid #c9c9c9;
    width: 40rem;
  }
</style>
