<template>
  <div id="app-modal">
    <slot name="modal-header"></slot>
    <slot name="modal-content"></slot>
    <slot name="modal-footer"></slot>
  </div>
</template>
<script>
export default {
  data() {
    return {}
  }
};
</script>
<style lang="scss" scoped></style>
