<template>
  <div id="app-modal" v-show="value">
    <slot name="modal-header"></slot>
    <slot name="modal-content"></slot>
    <slot name="modal-footer"></slot>
  </div>
</template>
<script>
export default {
  props: {
    value: Boolean
  }, 
  data() {
    return {}
  }
};
</script>
<style lang="scss" scoped></style>
