<template>
  <ModalTemplate :modalName="'itemDetailsModal'" :modalSize="'lg'" :modalTitle="item.name">
    <template slot="modalBody">
      <div class="row with-sep">
          <div class="col-md-3 text-center">
            <img :src="item.image" alt class="item-image">
          </div>
          <div class="col-md-9">
            <p>{{ item.description }}</p>
          </div>
        </div>
        <div class="row item-params-area">
          <div class="col-md-12">
            <div class="item-params">
              <span class="label">Price:</span>
              <span class="value">{{ item.price }}$</span>
            </div>
            <div class="item-params">
              <span class="label">Added by:</span>
              <span class="value">{{ item.author }}</span>
            </div>
          </div>
        </div>
    </template>
    <template slot="modalFooter">
      <button
        v-if="!isInCart(item)"
        type="button"
        class="large primary"
        @click="addToCart(item)">Add to cart</button>
      <span 
        v-if="isInCart(item)" 
        class="">Already in cart</span>
    </template>
  </ModalTemplate>
</template>
<script>
import ModalTemplate from './ModalTemplate'
export default {
  props: ['item'],
  components: { ModalTemplate },
  data() {
    return {
      amount: 1
    };
  },
  methods: {
    addToCart(item) {
      this.$store.commit("addToCart", item);
      this.$store.commit("showAlert", {
        message: "Added to cart",
        variant: "success"
      })
      this.hideModal()
    },
    isInCart(item) {
      let index = this.$store.state.cartItems
        .map(el => {
          return el.id
        })
        .indexOf(item.id)
      if (index > -1) {
        return true;
      } else {
        return false;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.item-details {
  font: {
    size: 0.9rem;
  }
  padding: 2rem;
}
.item-params-area {
  margin-top: 2rem;
  color: #212934;
}
.item-params {
  .label {
  }
  .value {
    margin-left: 0.4rem;
    font: {
      weight: 700;
    }
  }
}
.item-image {
  width: 60%;
}
input {
  background: #f8f9fa;
  border: 1px solid #cfd6de;
}
.item-details {
  font: {
    size: 0.8rem;
  }
  color: $text-grey-light;
}
.modal-footer {
  span {
    font: {
      size: .9rem;
    }
    color: $text-grey-light;
  }
}
</style>
