<template>
  <b-modal
    id="itemDetailsModal"
    class="item-details-modal box-modal"
    ref="itemDetailsModal"
    centered
    size="lg"
    hide-header  
    hide-footer>
    <div class="row modal-header">
      <div class="col-md-12">{{ item.name }}</div>
    </div>
    <div class="row item-details">
      <div class="col-md-12">
        <div class="row with-sep">
          <div class="col-md-4">
            <img :src="item.image" alt class="item-image">
          </div>
          <div class="col-md-8">
            <p>{{ item.description }}</p>
          </div>
        </div>
        <div class="row item-params-area">
          <div class="col-md-12">
            <div class="item-params">
              <span class="label">Price:</span>
              <span class="value">{{ item.price }}$</span>
            </div>
            <div class="item-params">
              <span class="label">Added by:</span>
              <span class="value">{{ item.author }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row modal-footer">
      <button
        v-if="!isInCart(item)"
        type="button"
        class="large default"
        @click="addToCart(item)"
      >Add to cart</button>
      <span 
        v-if="isInCart(item)" 
        class="">Already in cart</span>
    </div>
  </b-modal>
</template>
<script>
export default {
  props: ["item"],
  data() {
    return {
      amount: 1
    };
  },
  methods: {
    addToCart(item) {
      this.$store.commit("addToCart", item);
      this.$store.commit("showAlert", {
        message: "Added to cart",
        variant: "success"
      })
      this.$refs.itemDetailsModal.hide()
    },
    isInCart(item) {
      let index = this.$store.state.cartItems
        .map(el => {
          return el.id
        })
        .indexOf(item.id)
      if (index > -1) {
        return true;
      } else {
        return false;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.item-details {
  font: {
    size: 0.9rem;
  }
  padding: 2rem;
}
.item-params-area {
  margin-top: 2rem;
}
.item-params {
  .label {
  }
  .value {
    margin-left: 0.4rem;
    font: {
      weight: 700;
    }
  }
}
.item-image {
  width: 80%;
}
input {
  background: #f8f9fa;
  border: 1px solid #cfd6de;
}
.modal-footer {
  span {
    font: {
      size: .9rem;
    }
    color: $c-grey-dark;
  }
}
</style>
