<template>
  <b-modal
    id="loginRegisterModal"
    class="login-register-modal box-modal"
    ref="loginRegisterModal"
    centered
    size="lg"
    hide-header  
    hide-footer>
    <div class="row modal-header">
      <div class="col-md-12">Login or register</div>
    </div>
    <div class="row form">
      <div class="col-md-12">
        
      </div>
    </div>
    <div class="row modal-footer">
      <button>
        Login or register
      </button>
    </div>
  </b-modal>
</template>
<script>
export default {
  data() {
    return {
      
    }
  }
};
</script>
<style lang="scss" scoped>

</style>
