<template>
  <b-modal
    id="itemDetailsModal"
    class="item-details-modal box-modal"
    ref="itemDetailsModal"
    centered
    size="lg"
    hide-header  
    hide-footer>
    <div class="row modal-header">
      <div class="col-md-12">{{ item.name }}</div>
    </div>
    <div class="row item-details">
      <div class="col-md-12">
        
      </div>
    </div>
    <div class="row modal-footer">
      <button
        v-if="!isInCart(item)"
        type="button"
        class="large default"
        @click="addToCart(item)">
        Add to cart
      </button>
    </div>
  </b-modal>
</template>
<script>
export default {
  data() {
    return {
      
    }
  }
};
</script>
<style lang="scss" scoped>

</style>
