<template>
  <b-modal
    id="loginRegisterModal"
    class="login-register-modal box-modal"
    ref="loginRegisterModal"
    centered
    size="md"
    hide-header
    hide-footer
  >
    <div class="row modal-header">
      <div class="col-md-12">Login</div>
    </div>
    <div class="user-forms">
       <Login/>
    </div>
    <div class="row modal-footer">
      <button class="button large primary">Login</button>
    </div>
  </b-modal>
</template>
<script>
import UserService from "@/services/UserService";
import Alert from "../Alert";

export default {
  name: "login",
  components: { Alert },
  beforeRouteEnter(to, from, next) {
    if (!localStorage.getItem("user_token")) {
      next();
    } else {
      next(from);
    }
  },
  data() {
    return {
      user: {
        username: "",
        password: ""
      }
    };
  },
  methods: {
    
  },
  computed: {
    alert() {
      return {
        message: this.$store.state.alert.message,
        variant: this.$store.state.alert.variant
      };
    }
  }
};
</script>
<style lang="scss" scoped>
</style>
