<template>
  <b-modal
    id="loginRegisterModal"
    class="login-register-modal box-modal"
    ref="loginRegisterModal"
    centered
    size="lg"
    hide-header
    hide-footer>
    <div class="row modal-header">
      <div class="col-md-12">Login or register</div>
    </div>
    <div class="modal-forms">
      <b-card no-body>
        <b-tabs>
          <b-tab title="Login" active>
            <div class="col-md-12">
              <Login/>
            </div>
          </b-tab>
          <b-tab title="Register">
            <div class="col-md-12">
              <Register/>
            </div>
          </b-tab>
        </b-tabs>
      </b-card>
    </div>
    <div class="row modal-footer">
      <button class="button large primary">Login or register</button>
    </div>
  </b-modal>
</template>
<script>
import Login from '../Login'
import Register from '../Register'
export default {
  components: { Login, Register },
  data() {
    return {
      
    }
  }
};
</script>
<style lang="scss" scoped>
  .nav-item {
    font: {
      family: 'Open Sans', sans-serif;
    }
  }
  
</style>
