<template>
  <b-modal
    id="itemDetailsModal"
    class="item-details-modal box-modal"
    ref="itemDetailsModal"
    centered
    size="lg"
    hide-header  
    hide-footer>
    <div class="row modal-header">
      <div class="col-md-12">{{ item.name }}</div>
    </div>
    <div class="row item-details">
      <div class="col-md-12">
        <div class="row with-sep">
          <div class="col-md-4">
            <img :src="item.image" alt class="item-image">
          </div>
          <div class="col-md-8">
            <p>{{ item.description }}</p>
          </div>
        </div>
        <div class="row item-params-area">
          <div class="col-md-12">
            <div class="item-params">
              <span class="label">Price:</span>
              <span class="value">{{ item.price }}$</span>
            </div>
            <div class="item-params">
              <span class="label">Added by:</span>
              <span class="value">{{ item.author }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row modal-footer">
      <button
        v-if="!isInCart(item)"
        type="button"
        class="large default"
        @click="addToCart(item)">
        Add to cart
      </button>
    </div>
  </b-modal>
</template>
<script>
export default {
  data() {
    return {
      
    }
  }
};
</script>
<style lang="scss" scoped>

</style>
