<template>
  <b-modal
    :id="name"
    :ref="name"
    :size="size"
    class="box-modal"
    centered
    hide-header
    hide-footer>
    
</b-modal>
</template>
<script>
export default {
  name: "ModalTemplate",
  props: ['name', 'size'],
  data() {
    return {}
  }
};
</script>
<style lang="scss" scoped>
</style>
