<template>
    <b-modal
    id="itemDetailsModal"
    class="item-details-modal box-modal"
    ref="itemDetailsModal"
    centered
    size="lg"
    hide-header  
    hide-footer>
    <slot name="modal-header">

    </slot>
    <slot name="modal-content">

    </slot>
    <slot name="modal-footer">

    </slot>
  </b-modal>
</template>
<script>
export default {
    data() {
        return {

        }
    }
}
</script>
<style lang="scss" scoped>

</style>
