<template>
  <b-modal
    id="itemDetailsModal"
    class="box-modal"
    ref="itemDetailsModal"
    centered
    size="lg"
    hide-header
    hide-footer>
    
</b-modal>
</template>
<script>
export default {
  name: "ModalTemplate",
  data() {
    return {}
  }
};
</script>
<style lang="scss" scoped>
</style>
