<template>
  <b-modal
    :id="name"
    :ref="name"
    :size="size"
    class="box-modal"
    centered
    hide-header
    hide-footer>
    <div class="row modal-header">
      <div class="col-md-12">
        <span>{{ title }}</span> 
        <i 
          class="fas fa-times"
          @click="hideModal()" />
      </div>
    </div>
</b-modal>
</template>
<script>
export default {
  name: "ModalTemplate",
  props: ['name', 'size', 'title'],
  data() {
    return {}
  }
};
</script>
<style lang="scss" scoped>
</style>
