<template>
    <b-modal
    id="itemDetailsModal"
    class="item-details-modal box-modal"
    ref="itemDetailsModal"
    centered
    size="lg"
    hide-header  
    hide-footer>
    <div class="row modal-header">
      
    </div>
    <div class="row modal-content">
      
    </div>
    <div class="row modal-footer">
      
    </div>
  </b-modal>
</template>
<script>
export default {
    data() {
        return {

        }
    }
}
</script>
<style lang="scss" scoped>

</style>
