<template>
  <b-modal
    :id="modalName"
    :ref="modalName"
    :size="modalSize"
    class="box-modal"
    centered
    hide-header
    hide-footer>
    <div class="row modal-header">
      <div class="col-md-12">
        <span>{{ modalTitle }}</span> 
        <i
          class="fas fa-times"
          @click="hideModal()"/>
      </div>
    </div>
    <div class="row modal-body">
      <div class="col-md-12">
        <slot name="modalBody"></slot>
      </div>
    </div>
    <div class="row modal-footer">
      <div class="col-md-12">
        <slot name="modalFooter"></slot>
      </div>
    </div>
</b-modal>
</template>
<script>
export default {
  name: 'ModalTemplate',
  props: ['modalName', 'modalSize', 'modalTitle'],
  data() {
    return {}
  },
  methods: {
    hideModal() {
      let modalName = this.modalName
      this.$refs.modalName.hide()
    }
  }
};
</script>
<style lang="scss" scoped>
  
</style>
