<template>
  <div id="app">
    <Navbar></Navbar>
    <router-view></router-view>
  </div>
</template>

<script>
import Navbar from './components/Navbar.vue';

export default {
  name: 'app',
  components: {
    Navbar
  }
}
</script>

<style lang="scss">
  body { margin: 0; padding: 0; background-color: #f5f7fa !important; }
  #app { font-family: 'Open Sans', sans-serif; }
</style>
