<template>
  <div id="feed" class="container">
    <div class="row text-right control-menu">
      <div class="col-md-12">
        <button v-if="user" class="add-item-button large" v-b-modal.addItemModal>
          <i class="fas fa-plus"/>
          Add item to store
        </button>
      </div>
    </div>
    <div class="row">
      <alert :msg="alert.message" :variant="alert.variant" class="alert"/>
      <div class="col-md-4">
        <Sidebar @get-items="getItems($event)" @search-items="getSearchedItems($event)"></Sidebar>
      </div>
      <main class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="products">
              <div 
                v-if="items.length === 0"
                class="empty-list">
                Store is empty
              </div>
              <div v-if="user">Test</div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <AddItemModal/>
    <ItemDetailsModal :item="refferedItem"/>
  </div>
</template>
<script>
import ItemService from "@/services/ItemService";
import Alert from "./Alert";
import Sidebar from "./Sidebar";
import AddItemModal from "./modals/AddItemModal";
import ItemDetailsModal from "./modals/ItemDetailsModal";

export default {
  name: "feed",
  components: { Alert, Sidebar, AddItemModal, ItemDetailsModal },
  data() {
    return {
      items: [],
      item: {
        title: "",
        description: "",
        price: 1,
        categories: [1],
        author: ""
      },
      categories: [],
      refferedItem: ""
    };
  },
  methods: {
    async getItems(categoryId) {
      const response = await ItemService.fetchItems(categoryId)
      this.items = response.data.reverse()
    },
    async getCategories() {
      const response = await ItemService.getCategories()
      this.categories = response.data
    },
    async getSearchedItems(searchPhrase) {
      let searchedItems = this.items.filter(item => {
        return item.name.match(searchPhrase)
      });
      this.items = searchedItems
    },
    openItemDetailsModal(item) {
      this.refferedItem = item
    }
  },
  computed: {
    alert() {
      return {
        message: this.$store.state.alert.message,
        variant: this.$store.state.alert.variant
      };
    },
    user() {
      return this.$store.state.user
    }
  },
  created() {
    this.getItems(1);
    this.getCategories();
  }
};
</script>
<style lang="scss" scoped>
.add-item-button {
  color: #fff;
  background: $c-primary;
  margin-bottom: 1rem;
  i {
    margin-right: 0.5rem;
  }
}
.products {
  border-top: 1px solid #e1e7ec;
  padding-top: 1.6rem;
}
.product-item {
  &.own {
    .product-details {
      span {
        color: $text-grey-light;
      }
    }
  }
}
</style>
