<template>
  <div id="login">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form>
            <div class="row">
              <div class="col-6">
                <input type="text" placeholder="username" v-model="user.username">
              </div>
              <div class="col-6">
                <input type="password" placeholder="password" v-model="user.password">
              </div>
            </div>
            <!-- <button @click="userLogin()" type="button">Login</button> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import UserService from "@/services/UserService";
import Alert from "./Alert";

export default {
  name: "login",
  components: { Alert },
  beforeRouteEnter(to, from, next) {
    if (!localStorage.getItem("user_token")) {
      next();
    } else {
      next(from);
    }
  },
  data() {
    return {
      user: {
        username: "",
        password: ""
      }
    };
  },
  methods: {
    async userLogin() {
      const response = await UserService.userLogin(this.user);
      if (response.data.success) {
        UserService.storeUserData(response.data.token);
        this.$store.commit("setUser", {
          username: this.user.username,
          id: this.user.id
        });
        this.$store.commit("showAlert", {
          message: response.data.msg,
          variant: "success"
        });
        this.$router.push("/");
      } else {
        this.$store.commit("showAlert", {
          message: response.data.msg,
          variant: "danger"
        });
      }
    }
  },
  computed: {
    alert() {
      return {
        message: this.$store.state.alert.message,
        variant: this.$store.state.alert.variant
      };
    }
  }
};
</script>
<style lang="scss" scoped>
</style>
