<template>
  <nav>
    <div class="container d-flex justify-content-between">
      <router-link tag="h1" to="/">Vue Store</router-link>
      <ul>
        <router-link
          v-if="user"
          tag="li" 
          to="/cart">
          <div class="fas fa-shopping-cart">
            <div class="items-amount">
                <span>{{ cartAmount }}</span>
            </div>
          </div>Cart
        </router-link>
        <template v-if="!user">
          <li class="login-logout">
            <span>Sign in</span> or 
            <button class="button large primary">Sign up</button>
          </li>
        </template>
        <template v-if="user">
          <router-link tag="li" to="/profile">{{ user.username }}</router-link>
          <li @click="logout()">Logout</li>
        </template>
      </ul>
    </div>
    <ItemDetailsModal/>
  </nav>
</template>
<script>
import UserService from "@/services/UserService"
export default {
  data() {
    return {
      userToken: ""
    };
  },
  methods: {
    async logout() {
      await UserService.logout();
      this.$store.commit("setUser", "")
      this.$store.commit("showAlert", {
        message: "Successfully log out.",
        variant: "success"
      })
      this.$router.push("/")
    }
  },
  computed: {
    user() {
      return this.$store.state.user
    },
    cartAmount() {
      return this.$store.state.cartAmount
    }
  },
  created() {
    const userToken = localStorage.getItem("user_token")
    if (userToken) {
      this.$store.commit(
        "setUser",
        {
          username: UserService.decodeToken(userToken).username,
          id: UserService.decodeToken(userToken).id
        }
      );
    }
  }
};
</script>
<style lang="scss" scoped>
nav {
  background: #fff;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #000;
  letter-spacing: 0.2px;
  border-top: 4px solid $c-primary;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  h1,
  li {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 1.4rem 0;
    padding: 0.4rem 2rem;
    position: relative;
    cursor: pointer;
    line-height: 1.2;
    color: $c-grey-dark;
    &.login-logout {
      span {
        color: $c-primary;
        margin: 0 .4rem;
      }
      button {
        margin: 0 .4rem;
        text-transform: uppercase;
      }
      &:hover {
        color: #212934;
      }
    }
    &:hover {
      color: $c-primary;
      .fa-shopping-cart {
        color: $c-grey-dark;
      }
    }
  }
  h1 {
    color: $c-primary;
    font-size: 1.6rem;
  }
  .fa-shopping-cart {
    font-size: 1.2rem;
    vertical-align: middle;
    margin-right: 0.4rem;
    position: relative;
    .items-amount {
      position: relative;
      width: 18px;
      height: 18px;
      background: #e26266;
      border-radius: 50%;
      top: 100%;
      left: 0;
      transform: translate(-50%, -50%);
      color: #fff;
      font: {
        family: 'Open Sans', sans-serif;
        size: 0.6rem;
      }
      text-align: center;
      line-height: 2;
    }
  }
}
</style>
