<template>
  <div id="profile">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="user-header">
              <p class="user-fullname">
                  {{ loggedUser.fullname }}
              </p>
              <p class="user-username">
                  @{{ loggedUser.username }}
              </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Current store items</h2>
          <div v-for="item in items" :key="item.id" class="product-item">
            <div class="product-preview">
              <div
                v-if="item.image"
                class="product-image"
                :style="{ backgroundImage: 'url(' + item.image + ')' }"
              ></div>
              <div class="product-info">
                <h3 class="product-name">{{ item.name }}</h3>
                <p class="product-desc">{{ item.description | truncate }}</p>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="product-price">${{ item.price }}</div>
                  <p class="product-author">
                    Added by
                    <span class="bold">{{ item.author }}</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="product-details">
              <span class="own-product-message">This is a product added by yourself.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Sell history</h2>
          <p v-if="soldItems.length === 0" class="empty-info">You don't have any sold products yet.</p>
          <div v-for="item in soldItems" :key="item.id" class="product-item">
            <div class="product-preview">
              <div
                v-if="item.image"
                class="product-image"
                :style="{ backgroundImage: 'url(' + item.image + ')' }"
              ></div>
              <div class="product-info">
                <h3 class="product-name">{{ item.name }}</h3>
                <p class="product-desc">{{ item.description | truncate }}</p>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="product-price">${{ item.price }}</div>
                  <p class="product-author">
                    Added by
                    <span class="bold">{{ item.author }}</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="product-details">
              <span class="own-product-message">This is a product added by yourself.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Buy history</h2>
          <p class="empty-info">You don't have any bought products yet.</p>
        </div>
      </div>
      <br><br>
    </div>
  </div>
</template>
<script>
import UserService from "@/services/UserService";
import ItemService from "@/services/ItemService";

export default {
  name: "profile",
  beforeRouteEnter(to, from, next) {
    if (localStorage.getItem("user_token")) {
      next();
    } else {
      next(from);
    }
  },
  data() {
    return {
      loggedUser: "",
      items: [],
      soldItems: []
    };
  },
  methods: {
    async getItems(categoryId, username) {
      const response = await ItemService.fetchItems(categoryId, username)
      this.items = response.data
    },
    async getSoldItems(id) {
      const response = await ItemService.getSoldItems(id)
      this.soldItems = response.data.data
    },
    async getBoughtItems(id) {
      const response = await ItemService.getBoughtItems(id)
      this.boughtItems = response.data.data
    }
    // get sold and bought items
    // sold: 1) get itemsId for userId from soldItems 2) get buyer id 3) get items data from items by itemsId
    // sort feed items by price, date
    // check if is in table sold
    // change queries to JOIN
  },
  created() {
    this.loggedUser = UserService.decodeToken(
      localStorage.getItem("user_token")
    )
    this.getItems(1, this.loggedUser.username)
    this.getSoldItems(this.$store.state.user.id)
    this.getBoughtItems(this.$store.state.user.id)
  }
};
</script>
<style lang="scss" scoped>
        .user-header {
          background: $c-primary;
          border-radius: $border-radius;
          box-shadow: $shadow-1;
          padding: 4rem;
        .user-fullname {
            font: {
                size: 2.4rem;
            }
            color: #eff8ff;
            padding: 0;
            margin: 0;
            text-transform: uppercase;
        }
        .user-username {
            font: {
                size: 1rem;
            }
            color: #eff8ff;
            padding: .4rem 1rem;
            margin: 0;
            background: #65a3d6;
            display: table;
            border-radius: $border-radius;
        }
    }
    .empty-info {
        font: {
            size: .9rem;
        }
        color: #5f6b79;
        margin: 0;
        padding: 0;
    }
</style>
