<template>
    <div id="register">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <alert :msg="alert.message" :variant="alert.variant"></alert>
                    <form>
                        <input type="text" placeholder="fullname" v-model="user.fullname">
                        <input type="text" placeholder="username" v-model="user.username">
                        <input type="text" placeholder="email" v-model="user.email">
                        <input type="password" placeholder="password" v-model="user.password">
                        <button @click="registerUser()" type="button">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import UserService from '@/services/UserService';
import Alert from './Alert';

export default {
    name: 'register',
    beforeRouteEnter (to, from, next) {
        if (!localStorage.getItem('user_token')) {
            next();
        } else {
            next(from);
        }
    },
    components: { Alert },
    data() {
        return {
            user: {
                fullname: '',
                username: '',
                email: '',
                password: ''
            }
        }
    },
    methods: {
        async registerUser() {
            const response = await UserService.registerUser(this.user);
            if (response.data.success) {
                this.$store.commit('setUser', {
                    username: this.user.username,
                    id: this.user.id
                })
                this.$store.commit('showAlert', {
                    message: response.data.msg,
                    variant: 'success'
                })
                this.$router.push('/')
            } else {
                this.$store.commit('showAlert', {
                    message: response.data.msg,
                    variant: 'danger'
                })
            }
           
        }
    },
    computed: {
        alert() {
            return {
                message: this.$store.state.alert.message,
                variant: this.$store.state.alert.variant
            }
        }
    },
}
</script>
<style lang="scss" scoped>

</style>
