<template>
  <aside>
    <h2>Filters</h2>
    <div class="menu-item">
      <input 
        v-model="searchItems"
        type="text" 
        placeholder="Search"
        @keyup="$emit('search-items', searchItems)">
    </div>
    <div class="menu-item">
      <h3>Categories</h3>
      <ul>
        <li
          v-for="category in categories"
          :key="category.id"
          :class="{ active: activeCategory === category.name }"
          @click="$emit('get-items', category.id); activeCategory = category.name">
          {{ category.fullname }}
        </li>
      </ul>
    </div>
  </aside>
</template>
<script>
import ItemService from "@/services/ItemService";
export default {
  name: "sidebar",
  data() {
    return {
      categories: [],
      activeCategory: "all",
      searchItems: ''
    }
  },
  methods: {
    async getCategories() {
      const response = await ItemService.getCategories();
      this.categories = response.data;
    }
  },
  created() {
    this.getCategories();
  }
};
</script>
<style lang="scss" scoped>
aside {
  background: #e1e7ec;
  box-shadow: $shadow-1;
  padding: 2rem;
  border-radius: $border-radius;
}
h2 {
  font: {
    size: 1.2rem;
    weight: 700;
  }
  color: $c-grey-dark;
  margin-top: 0;
  margin-bottom: 2.6rem;
}
.menu-item {
  margin-top: 1.6rem;
  h3 {
    font: {
      weight: 700;
      size: 0.9rem;
    }
    color: $c-grey-dark;
    padding: 0;
    text-transform: uppercase;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font: {
      size: 0.9rem;
    }
    color: #5f6b7a;
    li {
      padding: 0.8rem;
      font: {
        size: 0.8rem;
        weight: 700;
      }
      border-radius: $border-radius;
      transition-duration: 0.2s;
      cursor: pointer;
      i {
        color: $c-primary;
        margin-right: 0.8rem;
        vertical-align: middle;
        font: {
          size: 1.2rem;
        }
      }
      &:hover,
      &.active {
        background: #f8f9fa;
      }
    }
  }
  input {
    border-radius: $border-radius;
    font: {
      size: 0.8rem;
      weight: 700;
    }
    padding: 0.6rem;
    width: 100%;
    border: none;
    outline: none;
    color: #8895a7;
  }
}
</style>
